DB_HOST=localhost
DB_NAME=social_media_database

DB_USER=your_sql_username
DB_PASSWORD=your_sql_password

DOMAIN=https://your-twitter-scraping-endpoint/

PROXY_FILE=proxies.csv

MAX_PAGES_PER_PERSON=50

CLIENT_ID=your_reddit_client_id
CLIENT_SECRET=your_reddit_client_secret
USER_AGENT=your_reddit_user_agent